/* .ml-2 {
    margin-left: 20px;
    background-color: yellow;
    height:auto;

} */

.card-text2 {
    height: 120px; /* altura desejada para todos os parágrafos */
  }

  .card-img-fixed {
    width: 100%;
    height: 250px; /* Define a altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
  }

